USE [master]
GO
/****** Object:  Database [Fitness]    Script Date: 20/10/2025 2:58:42 CH ******/
CREATE DATABASE [Fitness]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Fitness', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBMS_ZUZU\MSSQL\DATA\Fitness.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Fitness_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBMS_ZUZU\MSSQL\DATA\Fitness_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Fitness].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Fitness]
GO
/****** Object:  Table [dbo].[activity]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[met_value] [float] NULL,
	[name] [varchar](255) NULL,
	[calories_burned] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activity_log]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_log](
	[logid] [int] IDENTITY(1,1) NOT NULL,
	[date_log] [datetime2](6) NULL,
	[duration] [float] NULL,
	[activity_id] [int] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[logid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[approved] [bit] NULL,
	[content] [varchar](255) NULL,
	[date_created] [datetime2](6) NULL,
	[title] [varchar](255) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diet]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diet](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[carb_percent] [int] NULL,
	[fat_percent] [int] NULL,
	[name] [varchar](255) NULL,
	[protein_percent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dish]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dish](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calories] [float] NULL,
	[carb] [float] NULL,
	[des] [varchar](255) NULL,
	[fat] [float] NULL,
	[fiber] [float] NULL,
	[food_picture] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[protein] [float] NULL,
	[unit] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_log]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[log_time] [datetime2](6) NULL,
	[meal] [smallint] NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meal_detail]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meal_detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[food_intake] [float] NULL,
	[dish_id] [int] NULL,
	[food_log_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[training_mode]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[training_mode](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[des] [varchar](255) NULL,
	[duration] [int] NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_diet]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_diet](
	[carb_percent] [int] NULL,
	[fat_percent] [int] NULL,
	[protein_percent] [int] NULL,
	[diet_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[diet_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_workout]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_workout](
	[user_id] [int] NOT NULL,
	[work_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[age] [float] NULL,
	[bmi] [float] NULL,
	[bmr] [float] NULL,
	[email] [varchar](255) NULL,
	[gender] [varchar](255) NULL,
	[goal] [float] NULL,
	[height] [float] NULL,
	[level_activity] [float] NULL,
	[name] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[phone_number] [bigint] NULL,
	[tdee] [float] NULL,
	[weight] [float] NULL,
	[role_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[workout]    Script Date: 20/10/2025 2:58:42 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[workout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[calories_burned] [float] NULL,
	[duration] [float] NULL,
	[link_video] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[training_mode_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD  CONSTRAINT [FK634sb3dvk7nyxjcjcem7m282a] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[activity_log] CHECK CONSTRAINT [FK634sb3dvk7nyxjcjcem7m282a]
GO
ALTER TABLE [dbo].[activity_log]  WITH CHECK ADD  CONSTRAINT [FKadd6g0gp5xkonquavbrmowk7c] FOREIGN KEY([activity_id])
REFERENCES [dbo].[activity] ([id])
GO
ALTER TABLE [dbo].[activity_log] CHECK CONSTRAINT [FKadd6g0gp5xkonquavbrmowk7c]
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [FKkr2fy24puc3x3sdnla4r1iok1] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [FKkr2fy24puc3x3sdnla4r1iok1]
GO
ALTER TABLE [dbo].[food_log]  WITH CHECK ADD  CONSTRAINT [FKm0ff2td1vmwthjqe6p2ldydkt] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[food_log] CHECK CONSTRAINT [FKm0ff2td1vmwthjqe6p2ldydkt]
GO
ALTER TABLE [dbo].[meal_detail]  WITH CHECK ADD  CONSTRAINT [FK5th6yskal6nbsfhovyqh636s7] FOREIGN KEY([food_log_id])
REFERENCES [dbo].[food_log] ([id])
GO
ALTER TABLE [dbo].[meal_detail] CHECK CONSTRAINT [FK5th6yskal6nbsfhovyqh636s7]
GO
ALTER TABLE [dbo].[meal_detail]  WITH CHECK ADD  CONSTRAINT [FKbdgf7v89qvchltxkar7xffcua] FOREIGN KEY([dish_id])
REFERENCES [dbo].[dish] ([id])
GO
ALTER TABLE [dbo].[meal_detail] CHECK CONSTRAINT [FKbdgf7v89qvchltxkar7xffcua]
GO
ALTER TABLE [dbo].[user_diet]  WITH CHECK ADD  CONSTRAINT [FK560pdubduwrelx4530mxcnjq9] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_diet] CHECK CONSTRAINT [FK560pdubduwrelx4530mxcnjq9]
GO
ALTER TABLE [dbo].[user_diet]  WITH CHECK ADD  CONSTRAINT [FKrdxp6wbdbxbuk1np67iq2fjlo] FOREIGN KEY([diet_id])
REFERENCES [dbo].[diet] ([id])
GO
ALTER TABLE [dbo].[user_diet] CHECK CONSTRAINT [FKrdxp6wbdbxbuk1np67iq2fjlo]
GO
ALTER TABLE [dbo].[user_workout]  WITH CHECK ADD  CONSTRAINT [FKdtpk4f8xe1dbf40bq3gkmageb] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[user_workout] CHECK CONSTRAINT [FKdtpk4f8xe1dbf40bq3gkmageb]
GO
ALTER TABLE [dbo].[user_workout]  WITH CHECK ADD  CONSTRAINT [FKfp9s80jn6fhake987uwi3vb30] FOREIGN KEY([work_id])
REFERENCES [dbo].[workout] ([id])
GO
ALTER TABLE [dbo].[user_workout] CHECK CONSTRAINT [FKfp9s80jn6fhake987uwi3vb30]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FK4qu1gr772nnf6ve5af002rwya] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FK4qu1gr772nnf6ve5af002rwya]
GO
ALTER TABLE [dbo].[workout]  WITH CHECK ADD  CONSTRAINT [FK4jv3kb9w0gqg9l60x4w5w8k18] FOREIGN KEY([training_mode_id])
REFERENCES [dbo].[training_mode] ([id])
GO
ALTER TABLE [dbo].[workout] CHECK CONSTRAINT [FK4jv3kb9w0gqg9l60x4w5w8k18]
GO
ALTER TABLE [dbo].[dish]  WITH CHECK ADD CHECK  (([unit]>=(0) AND [unit]<=(1)))
GO
ALTER TABLE [dbo].[food_log]  WITH CHECK ADD CHECK  (([meal]>=(0) AND [meal]<=(2)))
GO
USE [master]
GO
